.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style0,
.style1 {
  color: #fff;
  font-family: adobeinvisfont,serif;
  font-size: 2.8125em;
  margin-left: 110px;
  margin-top: 187px;
  height: 107px
}
.style0 {
  font-size: 1em;
  margin-left: 193px;
  margin-top: 30px;
  height: 34px
}